


// Font Family
$main-font: 'louis_george_caferegular', sans-serif;
$headding-font: 'louis_george_cafebold', sans-serif;



// Colors
$cl-black: #292929;
$cl-black-2: #434a53;
$cl-white: #ffffff;
$cl-primary: #E91E63;
$cl-blue: #405161;
$cl-blue-2: #3f4865;
$cl-green: #6FDA44;
$cl-mint: #2C3A47;
$cl-yellow: #ffa825;


// Social Colors
$cl-facebook : #3B5999;
$cl-twitter : #55ACEE;
$cl-instagram : #F5214A;
$cl-youtube : #CD201F;
$cl-pinterest : #BD081C;
$cl-linkedin : #0077B5;

$facebook-bg : #3B5999;
$twitter-bg : #55ACEE;
$instagram-bg : #F5214A;
$youtube-bg : #CD201F;
$pinterest-bg : #BD081C;
$linkedin-bg : #0077B5;
$google-plus-bg : #DD5144;









